.intro{
	width: 100%;
	height: 100%;
	color: white;
}

.intro__container{
	text-align: center;
}

.intro__title{
	font-family: var(--font-heading-bold);
	font-size: var(--ms5);
	line-height: 1.2;
}

.intro__description{
	max-width: 24em;
	margin: 0 0 1em 0;
}

.intro__start{
	color: inherit;
	text-decoration: none;
	font-family: var(--font-heading-bold);
	font-size: var(--ms2);
}

.intro__start{

}