.logo{
	/* original svg dimensions: 44w 77h */
	width: 44px;
	height: 77px;
	position: relative;
	color: white;
}


.logo__image,
.logo__quote{
	display: inline-block;
	float: left;
}

.logo__image{
	width: 100%;
	height: 100%;

	background-image: url('../logo.svg');
	background-repeat: no-repeat;
}

.logo__quote{
	white-space: nowrap;
	position: absolute;
	top: 50%;
	left: 100%;
	margin-top: -.5em;
	margin-left: 1em;
}