.questions{
	opacity: 0;
	transition: opacity .5s ease-in;

	&.active{
		opacity: 1;

	}
}

.questions__screen{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	color: white;
}

.questions__background{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background: linear-gradient(transparent, rgba(7, 48, 73, .75)); 
	z-index: 0;
}

.questions__content{
	height: 100%;
	display: flex; 
	flex-direction: column; 
	align-items: center;
	justify-content: flex-end;
	position: relative;
	z-index: 1;
	padding-bottom: 5%;

	text-align: center;
}


.questions__title{
	font-family: var(--font-heading-bold);
	font-size: var(--ms2);
}

.questions__list{
	font-size: var(--ms1);
	margin: .5em 0;
}

.questions__option{
	cursor: pointer;
	display: block;
}

.questions__again{
	font-size: var(--ms-1);
	cursor: pointer;
}