<section class="intro">
	
	<div class="intro__container backdrop">
		<h2 class="intro__title">Waar is Sam?</h2>
		<div class="intro__description">
			<p>Bekijk de video, raad de steden die Sam bezoekt
en maak kans op kaarten voor de vakantiebeurs. Veel succes!
			</p>
		</div>
		<div class="intro__start link" data-js="video-trigger">Start</div>
	</div>

</section>