<div class="navigation">
	
	<div class="navigation__trigger" data-js="toggle-sidebar">
		<i class="fa fa-bars"></i>
	</div>

	{% include 'includes/_social.twig' with {'modifiers': 'navigation__social'} %}

</div>