<div class="sidebar {{modifiers}}">

	<div class="sidebar__container">
	
		<div class="sidebar__navigation">

			<div class="sidebar__header">
				<span class="sidebar__close" data-js="toggle-sidebar">
					<i class="fa fa-times"></i>
				</span>
			</div>

			<nav class="menu sidebar__menu">
				
				<a href="/" class="menu__link link">Home</a>
				<a href="#/page/spelregels" class="menu__link link">Spelregels</a>
				<a href="#/page/vakantiebeurs" class="menu__link link">24/7BZ op de vakantiebeurs</a>

			</nav>

			<div class="sidebar__footer">
				{% include 'includes/_social.twig' with {'modifiers': 'sidebar__social'} %}
				<a href="" class="sidebar__link">Algemene voorwaarden</a>
			</div>

		</div>

		<div class="sidebar__content">

			<a href="/" class="sidebar__pages-close" data-js="toggle-page">
				<i class="fa fa-times"></i>
			</a>

			<div class="sidebar__pages">

				<div class="page sidebar__page" id="/page/spelregels">
					<section class="page__content">
						<header class="page__header">Spelregels</header>
						<div class="page__content">
							<p>De tickets voor de Vakantiebeurs worden dagelijks verloot onder alle deelnemers. Hoe hoger je score, hoe meer kans je maakt om in de prijzen te vallen! Je kunt elke dag opnieuw meedoen. Ook kun je je winkans vergroten door de actie te delen op Facebook, Twitter of Instagram. Je krijgt een dag later te horen of je hebt gewonnen. Elke werkdag trekken we 4 winnaars. De winnende deelnemers van vrijdag, zaterdag en zondag krijgen het maandag te horen. Je wordt per mail geïnformeerd over de uitslag. Klik hier voor de uitgebreide algemene voorwaarden.</p>
						</div>
					</section>
				</div>

				<div class="page sidebar__page" id="/page/vakantiebeurs">
					<section class="page__content">
						<header class="page__header">24/7 BZ op de Vakantiebeurs</header>
						<div class="page__content">
							<p>Wij Nederlanders houden van reizen. We gaan met elkaar zo’n 18 miljoen keer per jaar op vakantie naar het buitenland. En of je nou dichtbij blijft of de halve wereld over reist, een goede voorbereiding is het halve werk. Download voor vertrek bijvoorbeeld de 24/7 BZ Reis app. Dan heb je het laatste reisadvies altijd bij de hand. En ben je met één druk op de knop verbonden met het 24/7 BZ Contactcenter waar je terecht kunt met al je vragen, en in geval van nood. Zorg voor een goede reisverzekering en neem altijd je paspoort mee. Zo kun je je altijd identificeren. Volg tenslotte @247BZ op Twitter en sla ons nummer op in je telefoon: +31 247 247 247.

En ben je in 2017 op de Vakantiebeurs, bezoek dan vooral ook onze stand! Daar staan de hele dag medewerkers van BZ voor je klaar om je vragen te beantwoorden. En kun je in de 360ο panorama photobooth alvast de wereld rond. Goede reis!
</p>
						</div>
					</section>
				</div>


			</div>
		</div>

	</div>


</div>