<section class="intro">
	
	<header class="intro__header">
		Ministerie van Buitenlandse Zaken
	</header>

	<div class="intro__main">
		<a class="intro__start" href="#start">Start</a>
	</div>

	<footer class="intro__footer">
		Overal dichtbij
	</footer>


</section>