<ul class="social {{modifiers}}">
	
	<li class="social__item">
		<a href="" class="social__link">
			<i class="social__icon fa fa-facebook-official"></i>
		</a>
	</li>

	<li class="social__item">
		<a href="" class="social__link">
			<i class="social__icon fa fa-twitter-square"></i>
		</a>
	</li>

	<li class="social__item">
		<a href="" class="social__link">
			<i class="social__icon fa fa-instagram"></i>
		</a>
	</li>

</ul>